@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #333;
}

h1, h2, h3 {
  font-weight: 200;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

a {
  color: #fdfdfd;
  font-size: 1.8rem;
  text-decoration: none;
}

ul {
  list-style: none;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 20px;
  overflow: hidden;
  -webkit-box-shadow: 2px 0 4px #333;
          box-shadow: 2px 0 4px #333;
}

.top-bar__logo-container {
  z-index: 2;
}

.top-bar__logo {
  width: 80px;
}

.top-bar__btn-container {
  font-size: 8rem;
  z-index: 2;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  background-color: #fdfdfd;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  z-index: 1;
}

.menu--show {
  top: 0;
  height: 100vh;
  opacity: 1;
}

.menu__list {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu__item {
  line-height: 2;
}

.menu__link {
  font-size: 2rem;
  color: #333;
}

.subpage-header__container {
  padding: 40px 10px;
}

.subpage-header__container--dark-blue {
  background: #282f44;
}

.subpage-header__title {
  font-size: 3.8rem;
  margin-bottom: 20px;
  font-weight: 400;
}

.subpage-header__lead {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 200;
}

.subpage-header__lead:last-child {
  padding-bottom: 40px;
  border-bottom: 1px solid #b3b3b3;
}

.possibilities {
  padding: 20px 10px;
}

.possibilities__item {
  padding: 10px;
  font-size: 1.8rem;
  color: #888;
  border-bottom: 1px solid #b3b3b3;
}

.possibilities__item:last-child {
  border: none;
}

.testimonial {
  padding: 60px 10px;
  background-color: #333;
}

.testimonial__lead {
  font-size: 2.4rem;
  font-weight: 200;
  color: #fdfdfd;
}

.form {
  padding: 10px 0 20px;
  border-top: 1px solid #b3b3b3;
}

.form__label {
  display: block;
  margin: 20px 0 10px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fdfdfd;
}

.form__input, .form__textarea {
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
}

.form__button {
  border: 0;
  width: 100%;
  margin-top: 5px;
}

.footer {
  padding: 20px 10px;
  background: #282f44;
  text-align: center;
}

.footer__lead {
  color: #fdfdfd;
  font-weight: 200;
  font-size: 1.6rem;
}

.contact {
  padding: 80px 10px 40px;
  background: #282f44;
}

.contact--small-padding {
  padding-top: 0;
}

.contact__box {
  padding: 20px 10px;
  border-top: 1px solid #b3b3b3;
}

.contact__title {
  font-size: 2rem;
  color: #fdfdfd;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact__link {
  font-size: 1.8rem;
  font-weight: 200;
}

.contact__adres {
  color: #fdfdfd;
  font-weight: 200;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 1.8rem;
  background-color: #2c89a0;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #fdfdfd;
  font-weight: 600;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  border-radius: 5px;
}

.subpage-secondary-title {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: 200;
}

.subpage-secondary-title--white {
  color: #fdfdfd;
}

.text-primary-color {
  color: #2c89a0;
}

.main-header {
  position: relative;
}

.main-header__showcase {
  position: relative;
  height: 40vh;
  background: url("../img/showcase-sm.jpg") no-repeat center center/cover;
}

.main-header__text-container {
  position: absolute;
  bottom: 10%;
  right: 0;
  padding: 10px;
  background: #b3b3b380;
}

.home-secondary-title {
  margin-bottom: 20px;
}

.intro {
  position: relative;
  padding: 20px 10px;
  text-align: center;
}

.intro::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #2c89a0;
}

.services {
  padding: 20px 10px;
}

.services__box {
  text-align: center;
  padding: 20px 0;
}

.services__title {
  margin-top: 20px;
}

.services__lead {
  margin-bottom: 20px;
}

.services__link {
  color: #2c89a0;
  font-size: 1.6rem;
}

.values {
  padding: 20px 10px;
}

.values__lead {
  padding: 5px 0 20px;
}

.values__box {
  margin-top: 20px;
}

.values__title {
  font-size: 2rem;
  text-transform: uppercase;
}

.prize {
  position: relative;
  padding: 20px;
}

.prize__img {
  margin-left: auto;
  width: 200px;
}

.prize::before {
  content: '';
  position: absolute;
  left: -20%;
  bottom: 28%;
  height: 1px;
  width: 120%;
  background: #b3b3b3;
  z-index: -1;
}

.join {
  padding: 20px 10px;
  text-align: left;
}

.join__img-box {
  margin-bottom: 10px;
}

.join__lead {
  margin-bottom: 10px;
}

.join__button {
  width: 100%;
  margin: 10px 0 20px;
}

.raport {
  padding: 10px;
}

.raport__lead {
  margin-bottom: 40px;
}

.raport__initiative-container {
  margin-top: 25px;
}

.raport__initiative-box {
  position: relative;
  padding: 10px 10px;
  border-top: 1px solid #ddd;
}

.raport__initiative-box:last-child {
  border-bottom: 1px solid #ddd;
}

.raport__text-more {
  display: none;
}

.raport__text-more--show {
  display: block;
  padding: 10px;
}

.raport__initiative-title {
  font-size: 2rem;
}

.raport__btn-show-more {
  font-size: 2.2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.team {
  padding: 20px 10px;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__box {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: block;
  margin: 10px 0 40px;
  text-align: center;
}

.team__img {
  display: block;
  width: 100%;
  border-radius: 50%;
  margin: 0 auto;
}

.team__title {
  margin-top: 15px;
  font-size: 1.4rem;
  font-weight: bold;
}

.team__position {
  font-size: 1.2rem;
}

.specialists {
  padding: 20px 10px;
}

.specialists__lead {
  margin-top: 40px;
}

.applications {
  padding: 10px 20px;
}

.applications__lead {
  margin-top: 40px;
}

.technology-consulting {
  padding: 20px 10px;
}

.technology-consulting__lead {
  margin-top: 40px;
}

.contact-more-info {
  padding: 20px 10px;
  background-color: #282f44;
}

.contact-more-info__box {
  border-bottom: 2px dotted #fdfdfd;
}

.contact-more-info__box:last-child {
  border-bottom: 2px solid #fdfdfd;
}

.contact-more-info__title {
  color: #fdfdfd;
  font-weight: 600;
  font-size: 2.4rem;
  margin-top: 20px;
}

.contact-more-info__lead {
  color: #fdfdfd;
  padding-bottom: 25px;
}
/*# sourceMappingURL=main.css.map */