* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

html {
  font-size: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #333;
}

h1, h2, h3 {
  font-weight: 200;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

a {
  color: #fdfdfd;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 20px;
  overflow: hidden;
  -webkit-box-shadow: 2px 0 4px #333;
          box-shadow: 2px 0 4px #333;
}

.top-bar__logo-container {
  z-index: 2;
}

.top-bar__btn-container {
  font-size: 8rem;
  z-index: 2;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  background-color: #fdfdfd;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  z-index: 1;
}

.menu--show {
  top: 0;
  height: 100vh;
  opacity: 1;
}

.menu__list {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu__item {
  line-height: 2;
}

.menu__link {
  font-size: 2rem;
  color: #333;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 1.8rem;
  background-color: #179258;
  cursor: pointer;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

@media (min-width: 760px) {
  .button {
    font-size: 2rem;
    padding: 15px 30px;
  }
}

@media (min-width: 1024px) {
  .button:hover {
    background: #fdfdfd;
    color: #179258;
    -webkit-box-shadow: 0px 0px 2px 2px #179258;
            box-shadow: 0px 0px 2px 2px #179258;
  }
}

.subpage-title {
  padding: 25px;
  font-size: 3.8rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 760px) {
  .subpage-title {
    padding: 50px;
    font-size: 4rem;
  }
}

.main-header {
  position: relative;
}

.reservation {
  text-align: center;
}

@media (min-width: 568px) {
  .reservation {
    width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .reservation {
    width: 900px;
    margin: 0 auto;
  }
}

@media (min-width: 760px) {
  .reservation__lead {
    font-size: 2rem;
    line-height: 1.6;
  }
}

.reservation__header {
  padding: 10px;
}

.party {
  text-align: center;
}

.party__header {
  padding: 10px;
  margin-bottom: 60px;
}

@media (min-width: 568px) {
  .party__header {
    width: 500px;
    margin: 0 auto 60px;
  }
}

@media (min-width: 1024px) {
  .party__header {
    width: 900px;
    margin: 0 auto 60px;
  }
}

.party__article {
  padding: 60px 10px;
  background-color: #179258;
}

@media (min-width: 568px) {
  .party__container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .party__container {
    width: 900px;
    margin: 0 auto;
  }
}

.party__title {
  color: #fdfdfd;
  margin-bottom: 20px;
  font-size: 3.4rem;
}

@media (min-width: 760px) {
  .party__lead {
    font-size: 2rem;
    line-height: 1.6;
  }
}

.party__lead--white-text {
  color: #fdfdfd;
}

.party__seets {
  margin-top: 40px;
  font-size: 8rem;
  color: #fdfdfd;
}

.party__seets-title {
  color: #fdfdfd;
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.party__small-text {
  padding: 0 20px;
  font-size: 1.6em;
  color: #fdfdfd;
}

@media (min-width: 760px) {
  .party__small-text {
    font-size: 1.8rem;
  }
}

.contact-card {
  position: relative;
  height: 90vh;
  background: #fdfdfd;
  -webkit-box-shadow: 2px 2px 4px #333;
          box-shadow: 2px 2px 4px #333;
}

@media (min-width: 1024px) {
  .contact-card {
    position: absolute;
    width: 350px;
    top: 0;
    right: 10%;
  }
}

.map {
  height: 100vh;
  overflow: hidden;
}

.map__frame {
  width: 100%;
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */