@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #333;
}

h1, h2, h3 {
  font-weight: 200;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

a {
  color: #fdfdfd;
  font-size: 1.8rem;
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  overflow: hidden;
}

.top-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5px 20px;
  -webkit-box-shadow: 2px 0 4px #333;
          box-shadow: 2px 0 4px #333;
  background: #fdfdfd;
}

@media (min-width: 770px) {
  .top-bar {
    padding: 20px;
    overflow: visible;
  }
}

.top-bar__logo-container {
  z-index: 3;
}

.top-bar__logo {
  width: 50px;
}

.top-bar__btn-container {
  font-size: 6rem;
  z-index: 3;
  cursor: pointer;
}

@media (min-width: 770px) {
  .top-bar__btn-container {
    display: none;
  }
}

.menu {
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  background-color: #fdfdfd;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  z-index: 2;
}

@media (min-width: 770px) {
  .menu {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    opacity: 1;
  }
}

.menu--show {
  position: fixed;
  top: 0;
  height: 100vh;
  opacity: 1;
}

.menu__list {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 770px) {
  .menu__list {
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 770px) {
  .menu__list-inbox {
    position: absolute;
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: none;
    z-index: 4;
    padding: 10px 20px;
    background: #fdfdfd;
    border-radius: 5px;
    width: 250px;
    border: 1px solid #b3b3b3;
    -webkit-box-shadow: 2px 2px 4px #b3b3b3;
            box-shadow: 2px 2px 4px #b3b3b3;
    text-align: left;
  }
}

.menu__list-inbox-active {
  display: block;
}

.menu__item {
  line-height: 2;
}

.menu__item--add-position {
  position: relative;
}

.menu__link {
  font-size: 2rem;
  color: #333;
}

@media (min-width: 770px) {
  .menu__link {
    color: #2c89a0;
  }
}

@media (min-width: 770px) {
  .menu__link--small {
    font-size: 1.6rem;
  }
}

.menu__link--disable {
  display: none;
}

@media (min-width: 770px) {
  .menu__link--disable {
    display: inline;
  }
}

.menu__link--active {
  padding-bottom: 3px;
  border-bottom: 2px solid #b3b3b3;
}

.subpage-header--dark-blue {
  background: #282f44;
}

.subpage-header__container {
  padding: 40px 10px;
}

@media (min-width: 568px) {
  .subpage-header__container {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .subpage-header__container {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .subpage-header__container {
    width: 820px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .subpage-header__container {
    width: 1100px;
    margin: 0 auto;
  }
}

.subpage-header__container--wide {
  width: 1300px;
}

.subpage-header__container--dark-blue {
  background: #282f44;
}

.subpage-header__title {
  font-size: 3.8rem;
  margin-bottom: 20px;
  font-weight: 400;
}

.subpage-header__lead {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 200;
}

.subpage-header__lead:last-child {
  padding-bottom: 40px;
  border-bottom: 1px solid #b3b3b3;
}

.join {
  padding: 100px 10px;
  text-align: left;
}

@media (min-width: 568px) {
  .join {
    width: 550px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 770px) {
  .join {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .join {
    width: 820px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .join {
    width: 1100px;
    margin: 0 auto;
  }
}

.join__img-box {
  margin-bottom: 10px;
}

@media (min-width: 568px) {
  .join__img-box {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.join__lead {
  margin-bottom: 10px;
}

.join__button {
  width: 100%;
  margin: 10px 0 20px;
}

@media (min-width: 568px) {
  .join__text-box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.possibilities {
  position: relative;
  padding: 60px 10px;
}

@media (min-width: 568px) {
  .possibilities {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .possibilities {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .possibilities {
    width: 820px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .possibilities {
    width: 1100px;
    margin: 0 auto;
  }
}

.possibilities__img-container {
  position: absolute;
  top: 0;
  right: -35%;
  width: 600px;
}

@media (min-width: 1200px) {
  .possibilities__img-container {
    right: -25%;
  }
}

.possibilities__img-container::before {
  content: '';
  position: absolute;
  top: 2%;
  left: 2%;
  width: 100%;
  height: 100%;
  background: #2c89a0;
  z-index: 0;
}

.possibilities__img {
  position: relative;
  z-index: 1;
}

@media (min-width: 770px) {
  .possibilities__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .possibilities__list {
    width: 60%;
  }
}

.possibilities__item {
  padding: 10px;
  font-size: 1.8rem;
  color: #888;
  border-bottom: 1px solid #b3b3b3;
}

.possibilities__item:last-child {
  border: none;
}

@media (min-width: 770px) {
  .possibilities__item:nth-child(5) {
    border: none;
  }
}

@media (min-width: 770px) {
  .possibilities__item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.testimonial {
  padding: 160px 10px;
  background-color: #b3b3b3;
}

@media (min-width: 568px) {
  .testimonial__container {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .testimonial__container {
    width: 1100px;
    margin: 0 auto;
  }
}

.testimonial__lead {
  font-size: 2.6rem;
  font-weight: 200;
  color: #333;
}

@media (min-width: 770px) {
  .testimonial__lead {
    font-size: 3rem;
  }
}

.form {
  padding: 10px 0 20px;
  border-top: 1px solid #b3b3b3;
  width: 100%;
}

@media (min-width: 568px) {
  .form {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.form__label {
  display: block;
  margin: 20px 0 10px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fdfdfd;
}

@media (min-width: 770px) {
  .form__label {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    text-align: right;
    margin-right: 5%;
  }
}

@media (min-width: 1024px) {
  .form__label {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    text-align: right;
  }
}

.form__input, .form__textarea {
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
}

@media (min-width: 568px) {
  .form__input, .form__textarea {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media (min-width: 1024px) {
  .form__input, .form__textarea {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

.form__button {
  border: 0;
  width: 100%;
  margin-top: 5px;
}

@media (min-width: 568px) {
  .form__button {
    width: 60%;
    margin-left: 40%;
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .form__button {
    width: 80%;
    margin-left: 20%;
    margin-top: 20px;
  }
}

@media (min-width: 568px) {
  .form__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
}

@media (min-width: 770px) {
  .form__box {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  .form__box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer {
  padding: 60px 10px 20px;
  background: #282f44;
  text-align: center;
}

.footer__lead {
  color: #fdfdfd;
  font-weight: 200;
  font-size: 1.6rem;
}

.contact {
  padding: 80px 10px 20px;
  background: #282f44;
}

.contact--small-padding {
  padding-top: 0;
}

@media (min-width: 568px) {
  .contact__boxs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .contact__boxs {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.contact__box {
  padding: 20px 0px;
  border-top: 1px solid #b3b3b3;
}

@media (min-width: 568px) {
  .contact__box {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.contact__title {
  font-size: 2rem;
  color: #fdfdfd;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact__link {
  font-size: 1.8rem;
  font-weight: 200;
}

.contact__adres {
  color: #fdfdfd;
  font-weight: 200;
}

@media (min-width: 568px) {
  .contact__container {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .contact__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 770px) {
  .contact__container {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 950px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .contact__container {
    width: 1300px;
  }
}

.button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 1.8rem;
  background-color: #2c89a0;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #fdfdfd;
  font-weight: 600;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  border-radius: 5px;
}

.subpage-secondary-title {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 20px;
}

.subpage-secondary-title--white {
  color: #fdfdfd;
}

.text-primary-color {
  color: #2c89a0;
}

.main-header {
  position: relative;
}

.main-header__showcase {
  position: relative;
  height: 40vh;
  background: url("../img/showcase-sm.jpg") no-repeat center center/cover;
}

@media (min-width: 568px) {
  .main-header__showcase {
    height: 70vh;
  }
}

@media (min-width: 770px) {
  .main-header__showcase {
    height: 90vh;
  }
}

@media (min-width: 1024px) {
  .main-header__showcase {
    height: 70vh;
  }
}

.main-header__title {
  font-weight: 600;
  font-size: 2.2rem;
  color: #333;
  text-align: right;
}

@media (min-width: 770px) {
  .main-header__title {
    font-size: 3.6rem;
  }
}

@media (min-width: 1024px) {
  .main-header__title {
    font-size: 5.4rem;
  }
}

.main-header__text-container {
  position: absolute;
  bottom: 10%;
  right: 0;
  padding: 10px;
  background: #b3b3b380;
}

@media (min-width: 568px) {
  .main-header__text-container {
    padding-right: 20px;
  }
}

@media (min-width: 770px) {
  .main-header__text-container {
    padding-right: 60px;
  }
}

@media (min-width: 1024px) {
  .main-header__text-container {
    padding-right: 100px;
  }
}

.home-secondary-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 2.8rem;
}

.intro {
  position: relative;
  padding: 40px 10px;
  text-align: center;
}

@media (min-width: 568px) {
  .intro {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .intro {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .intro {
    width: 820px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .intro {
    width: 1100px;
    margin: 0 auto;
  }
}

.intro::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #2c89a0;
}

.services {
  padding: 20px 10px;
}

@media (min-width: 568px) {
  .services {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .services {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .services {
    width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0;
  }
}

@media (min-width: 1200px) {
  .services {
    width: 1300px;
  }
}

.services__box {
  text-align: center;
  padding: 20px 0;
}

@media (min-width: 1024px) {
  .services__box {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

.services__title {
  margin: 10px 0 20px;
  font-weight: 600;
}

.services__lead {
  margin-bottom: 20px;
}

.services__link {
  color: #2c89a0;
  font-size: 1.6rem;
}

.images-colection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(110px, auto);
  gap: 10px;
  padding: 10px;
}

.images-colection__img--1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background: url("../img/values-1-sm.jpg") no-repeat center center/cover;
}

.images-colection__img--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background: url("../img/values-1-sm.jpg") no-repeat center center/cover;
}

.images-colection__img--3 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  background: url("../img/values-1-sm.jpg") no-repeat center center/cover;
}

.images-colection__img--4 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  background: url("../img/values-1-sm.jpg") no-repeat center center/cover;
}

.images-colection__img--5 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  background: url("../img/values-1-sm.jpg") no-repeat center center/cover;
}

.values {
  padding: 20px 10px;
}

.values__lead {
  padding: 5px 0 20px;
}

.values__box {
  margin-top: 20px;
}

.values__title {
  font-size: 2rem;
  text-transform: uppercase;
}

@media (min-width: 568px) {
  .values {
    width: 550px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 770px) {
  .values {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .values {
    width: 820px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .values {
    width: 1100px;
    margin: 0 auto;
  }
}

.values__left-container {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.values__right-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.prize {
  position: relative;
  padding: 20px;
}

.prize__img {
  margin-left: auto;
  width: 200px;
}

@media (min-width: 770px) {
  .prize__img {
    margin-right: 100px;
  }
}

.prize::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 28%;
  height: 1px;
  background: #b3b3b3;
  z-index: -1;
}

.raport {
  padding: 10px;
}

@media (min-width: 568px) {
  .raport {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .raport {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .raport {
    width: 820px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .raport {
    width: 1100px;
    margin: 0 auto;
  }
}

.raport__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.raport__lead {
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .raport__lead {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.raport__initiative-container {
  margin-top: 25px;
}

@media (min-width: 1024px) {
  .raport__initiative-container {
    margin-top: 0;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.raport__initiative-box {
  position: relative;
  padding: 10px 10px;
  border-top: 1px solid #b3b3b3;
}

.raport__initiative-box:last-child {
  border-bottom: 1px solid #b3b3b3;
}

.raport__text-more {
  display: none;
}

.raport__text-more--show {
  display: block;
  padding: 10px;
}

.raport__initiative-title {
  font-size: 2rem;
}

.raport__btn-show-more {
  font-size: 2.2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.team {
  padding: 20px 10px;
}

@media (min-width: 568px) {
  .team {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .team {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .team {
    width: 1100px;
    margin: 0 auto;
  }
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__box {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: block;
  margin: 10px 0 40px;
  text-align: center;
}

@media (min-width: 770px) {
  .team__box {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.team__img {
  display: block;
  width: 80%;
  border-radius: 50%;
  margin: 0 auto;
}

.team__title {
  margin-top: 15px;
  font-size: 1.4rem;
  font-weight: bold;
}

.team__position {
  font-size: 1.2rem;
}

.specialists {
  padding: 20px 10px;
}

@media (min-width: 568px) {
  .specialists {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .specialists {
    width: 750px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .specialists {
    width: 820px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .specialists {
    width: 1100px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .specialists__subpage-secondary-title {
    text-align: right;
  }
}

.specialists__lead {
  margin-top: 40px;
}

@media (min-width: 770px) {
  .specialists__lead {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

@media (min-width: 770px) {
  .specialists__box {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.applications {
  padding: 10px 20px;
}

@media (min-width: 568px) {
  .applications {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .applications {
    width: 750px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .applications {
    width: 820px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .applications {
    width: 1100px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .applications__subpage-secondary-title {
    text-align: right;
  }
}

.applications__lead {
  margin-top: 40px;
}

@media (min-width: 770px) {
  .applications__lead {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

@media (min-width: 770px) {
  .applications__box {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.technology-consulting {
  padding: 20px 10px;
}

@media (min-width: 568px) {
  .technology-consulting {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .technology-consulting {
    width: 750px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .technology-consulting {
    width: 820px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .technology-consulting {
    width: 1100px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .technology-consulting__box {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media (min-width: 770px) {
  .technology-consulting__subpage-secondary-title {
    text-align: right;
  }
}

.technology-consulting__lead {
  margin-top: 40px;
}

@media (min-width: 770px) {
  .technology-consulting__lead {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.contact-more-info {
  padding: 20px 10px;
  background-color: #282f44;
}

@media (min-width: 568px) {
  .contact-more-info__container {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  .contact-more-info__container {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .contact-more-info__container {
    width: 950px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .contact-more-info__container {
    width: 1300px;
  }
}

.contact-more-info__box:last-child {
  border-bottom: 2px solid #fdfdfd;
}

.contact-more-info__box:last-child .contact-more-info__lead {
  border: none;
}

@media (min-width: 568px) {
  .contact-more-info__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
}

.contact-more-info__title {
  color: #fdfdfd;
  font-weight: 600;
  font-size: 2.4rem;
  margin-top: 20px;
}

@media (min-width: 568px) {
  .contact-more-info__title {
    margin-top: 0;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .contact-more-info__title {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.contact-more-info__lead {
  color: #fdfdfd;
  padding-bottom: 25px;
  font-size: 1.6rem;
  border-bottom: 2px dotted #fdfdfd;
}

@media (min-width: 568px) {
  .contact-more-info__lead {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media (min-width: 1200px) {
  .contact-more-info__lead {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
}
/*# sourceMappingURL=main.css.map */