.technology-consulting {
  padding: 20px 10px;

  @include media(sm) {
    @include width-sm;
  }
  @include media(md) {
    @include width-md;
    display: flex;
    justify-content: space-between;

  }
  &__box{
    flex-basis: 48%;
  }
  &__subpage-secondary-title{
    @include media(md){
    text-align: right;
    }
  }
  &__lead {
    margin-top: 40px;
    @include media (md) {
      margin-top: 0;
      margin-bottom: 40px;
     }
  }
}