.contact-more-info {
  padding: 20px 10px;
  background-color: $dark-blue;

  &__container {
    @include media(sm) {
      @include width-sm;
    }
    @include media(md) {
      @include width-md;
    }
  }

  &__box {

    &:last-child {
      border-bottom: 2px solid $white;
      .contact-more-info__lead{
        border:none;
      }
    }

    @include media(sm){
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
  }

  &__title {
    color: $white;
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 20px;
    @include media(sm){
      margin-top: 0;
      flex-basis: 35%;
    }
    @include media(sm){
      text-align: right;
    }
  }

  &__lead {
    color: $white;
    padding-bottom: 25px;
    font-size: 1.6rem;
    border-bottom: 2px dotted $white;
    @include media(sm){
      flex-basis: 60%;
    }
  }

}