@mixin width-sm {
  width: 550px;
  margin: 0 auto;
}
@mixin width-md {
  width: 750px;
  margin: 0 auto;
}

@mixin media($brackpoint) {
  $size: map-get($breakpoints, $brackpoint);

  @if($size) {
    @media #{$size} {
      @content;
    }
  }

  @else {
    @error '"#{$brackpoint}" - bad value';
  }
}