.contact{
  padding: 80px 10px 40px;
  background: $dark-blue;
  &--small-padding{
    padding-top:0;
  }
  &__box{
    padding: 20px 10px;
    border-top: 1px solid $light-greey;
  }
  &__title{
    font-size: 2rem;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__link{
    font-size: 1.8rem;
    font-weight: 200;
  }
  &__adres{
    color: $white;
    font-weight: 200;
  }

}