.contact {
  padding: 80px 10px 20px;
  background: $dark-blue;

  &--small-padding {
    padding-top: 0;
  }

  &__boxs {
    @include media(sm){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    @include media(lg){
      flex-basis: 48%;
    }
  }
  &__box {
    padding: 20px 0px;
    border-top: 1px solid $light-greey;
    
    @include media(sm) {
      flex-basis: 48%;
    }
  }

  &__title {
    font-size: 2rem;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 200;
  }

  &__adres {
    color: $white;
    font-weight: 200;
  }

  &__container {
    @include media(sm) {
      @include width-sm;
    }
      @include media(lg){
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @include media (md) {
      @include width-md;
    }
    @include media (lg) {
      display: flex;
      justify-content: space-between;
      width: 950px;
      margin: 0 auto;
    }
    @include media (xlg) {
      width: 1300px;
    }
  }


}