.form {
  padding: 10px 0 20px;
  border-top: 1px solid $light-greey;
  width: 100%;
  @include media(sm){
    flex-basis: 48%;
  }

  &__label {
    display: block;
    margin: 20px 0 10px;
    font-size: 1.8rem;
    font-weight: 700;
    color: $white;
    @include media (md) {
      flex-basis: 15%;
      text-align: right;
      margin-right: 5%;
    }
    @include media (lg) {
      flex-basis: 15%;
      text-align: right;
    }

  }

  &__input,
  &__textarea {
    display: inline-block;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;

    @include media (sm) {
      flex-basis: 60%;
    }
    @include media (lg) {
      flex-basis: 80%;
    }
  }

  &__button {
    border: 0;
    width: 100%;
    margin-top: 5px;

    @include media (sm) {
      width: 60%;
      margin-left: 40%;
      margin-top: 20px;
    }
    @include media (lg) {
      width: 80%;
      margin-left: 20%;
      margin-top: 20px;
    }
  }

  &__box {
    @include media (sm) {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
    @include media (md) {
     justify-content:flex-end;
    }
    @include media (lg) {
     justify-content:flex-start;
    }

  }
}