.possibilities {
  position: relative;
  padding: 60px 10px;

  @include media(sm) {
    @include width-sm;
  }
  @include media (md) {
    @include width-md;
  }
  @include media (lg) {
    @include width-lg;
  }
  @include media (xlg) {
    @include width-xlg;
  }

  &__img-container{
    position: absolute;
    top: 0;
    right: -35%;
    width: 600px;
    @include media (xlg) {
      right: -25%;
    }
    &::before{
      content: '';
      position: absolute;
      top: 2%;
      left: 2%;
      width: 100%;
      height: 100%;
      background: $primary-color;
      z-index: 0;
    }
  } 
  &__img{
    position: relative;
    z-index: 1;
  }
  &__list{
    @include media (md) {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
    }
    @include media (lg) {
      width: 60%;
    }
  }
  &__item {
    padding: 10px;
    font-size: 1.8rem;
    color: #888;
    border-bottom: 1px solid $light-greey;    
    &:last-child {
      border: none;
    }
    &:nth-child(5){
      @include media (md) {
        border: none;
      }
    }
       
      
    @include media (md) {
     flex-basis: 48%;
    }
  }
}