.subpage-header{
  &--dark-blue{
    background: $dark-blue;
  }
  &__container{
    padding: 40px 10px ;
    @include media(sm){
      @include width-sm;
    }
    @include media (md) {
      @include width-md;
    }
    @include media (lg) {
      @include width-lg;
    }
    @include media (xlg) {
      @include width-xlg;
    }
    &--wide{
      width: 1300px;
    }
  }

  &__container--dark-blue{
    background: $dark-blue;
  }
  &__title{
    font-size: 3.8rem;
    margin-bottom: 20px;
    font-weight: 400;
  }
  &__lead{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    font-weight: 200;
    &:last-child{
      padding-bottom: 40px;
      border-bottom: 1px solid $light-greey;
    }
  }
  

}