.subpage-header{
  &__container{
    padding: 40px 10px ;
  }
  &__title{
    font-size: 3.8rem;
    margin-bottom: 20px;
  }
  &__lead{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    font-weight: 200;
  }

}