.testimonial {
  padding: 160px 10px;
  background-color: $light-greey;

  &__container {
    @include media(sm) {
      @include width-sm;
    }
    @include media (xlg) {
      @include width-xlg;
    }
  }

  &__lead {
    font-size: 2.6rem;
    font-weight: 200;
    color: $greey;
    @include media (md) {
      font-size: 3rem;
    }
  }
}